<!DOCTYPE html>
<html>
  <head>
    <title>Car Dealership</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'> 
    
  </head>
  <body>
    <div class="jumbotron">
        <h1 class="text-primary">Car Dealership</h1>
    </div>
     
    <form action="/results" method="post" class="form-group">
        <label for="carType">Car Type</label>
        <select>
          <option name="type" value="sedan">Sedan</option>
          <option name="type" value="suv">SUV</option>
          <option name="type" value="truck">Truck</option>
          <option name="type" value="van">Van</option>
        </select>
        <br>
        <label for="carPrice">Maximum car price</label>
        <input id="carPrice" name="carPrice" type="text" class="form-control">
        <br>
        <label for="year">Year</label>
        <input id="year" name="year" type="text" class="form-control">
        <br>
        <button type="submit">Search</button>
    </form>
  </body>
</html>